<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @owner.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @owner.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @owner.email %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @owner.contact_no %>
</p>

<p>
  <strong>Address:</strong>
  <%= @owner.address %>
</p>

<%= link_to 'Edit', edit_admins_owner_path(@owner) %> |
<%= link_to 'Back', admins_owners_path %>
  
<div id="map"></div>
<style>
     /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
     #map {
       height: 400px;
       width: 800px;
     }
     
   </style>

         <script>
            function initMap() {
              var  lati = <%= @owner.latitude %>
               var long = <%= @owner.longitude %>
             var myLatLng = {lat: lati, lng: long};
               var map = new google.maps.Map(document.getElementById('map'), {
                 zoom: 8,
                center: myLatLng
              });
          
               var marker = new google.maps.Marker({
                  position: myLatLng,
                  map: map,
                  title: 'Hello World!'
                });
            }
          </script> 
          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMof93EDC6Ig6LbVU5QunuMXgU5lNFzdcs&callback=initMap">
          </script> 








               
 


  