<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @shop.location %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @shop.owner_id %>
</p>


<%= link_to 'Back', shops_path %>
