<%- model_class = ServiceMan -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%= @service_man.first_name %></dd>

  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @service_man.last_name %></dd>

  <dt><strong><%= model_class.human_attribute_name(:contact_no) %>:</strong></dt>
  <dd><%= @service_man.contact_no %></dd>

  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @service_man.address %></dd>

  <dt><strong><%= model_class.human_attribute_name(:profile_pic) %>:</strong></dt>
  <dd><%= @service_man.profile_pic %></dd>

  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @service_man.email %></dd>

  <dt><strong><%= model_class.human_attribute_name(:shop_id) %>:</strong></dt>
  <dd><%= @service_man.shop_id %></dd>

  <dt><strong><%= model_class.human_attribute_name(:age) %>:</strong></dt>
  <dd><%= @service_man.age %></dd>

  <dt><strong><%= model_class.human_attribute_name(:latitude) %>:</strong></dt>
  <dd><%= @service_man.latitude %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:longitude) %>:</strong></dt>
  <dd><%= @service_man.longitude %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              service_men_path, :class => 'btn btn-default'  %>
              <div id="map"></div>
              <style>
                   /* Always set the map height explicitly to define the size of the div
                    * element that contains the map. */
                   #map {
                     height: 400px;
                     width: 800px;
                   }
                   
                 </style>
                 <script>

                      function initMap() {
                        var  lati = <%= @service_man.latitude %>
                         var long = <%= @service_man.longitude %>

                       var myLatLng = {lat: lati, lng: long};

                        var map = new google.maps.Map(document.getElementById('map'), {
                          zoom: 8,
                          center: myLatLng
                        });
                    
                         var marker = new google.maps.Marker({
                            position: myLatLng,
                            map: map,
                            title: 'Hello World!'
                          });
                      }
                    </script>
                    <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMof93EDC6Ig6LbVU5QunuMXgU5lNFzdcs&callback=initMap">
                    </script>